# TYPE  DATABASE  USER      ADDRESS  METHOD
local   all       postgres           trust

{%- for config in pillar['postgresql']['users']|default({}) %}
{{ config['type'] }} {{ config['database'] }} {{ config['username'] }} {{ config['address']|default('') }} {{ config['method'] }}
{%- endfor -%}
