# TYPE                DATABASE                USER           ADDRESS                METHOD
local                 all                     postgres                              trust

{% for username, config in pillar['postgresql']['users'].items() %}
{{ config['type'] }} {{ config['database'] }} {{ username }} {{ config['address'] }} {{ config['method'] }}
{% endfor %}
