# TYPE  DATABASE  USER      ADDRESS  METHOD
local   all       postgres           trust

{%- for acl in pillar['postgresql']['acls']|default({}) %}
{{ '{0:<7} {1:<15} {2:<15} {3:<23} {4}'.format(*acl) }}
{%- endfor -%}
