# vim: ft=conf

{# Merge the defaults and overrides into one dict #}
{%- set _none = config.update(config_override) %}

{%- for key, value in config|dictsort %}

{#- Wrap strings in quotes #}
{%- if value is string %}
{{ key }} = '{{ value }}'
{%- else %}
{{ key }} = {{ value }}

{%- endif %}
{%- endfor %}
